.header {
  
  .header__container {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }
}

.logo {
  font-family: var(--font-bold);
  font-size: var(--font-size-md );
  color: var(--primary-color);

  cursor: pointer;

  transition: var(--transition);
}