.input {
  width: 40%;

  padding: 1.5rem 2rem;

  border: none;
  border-radius: 2rem;

  background-color: var(--secondary-color);

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  font-family: var(--font-regular);
  font-size: var(--font-size-xs);

  outline: none;
}